<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Qchain is a decentralized advertising and analytics platform built on the Ethereum and NEM blockchains for flexible and efficient transactions between advertisers and publishers.">

    <meta name="keywords" content="Qchain,advertising,blockchain,Ethereum,NEM,ETH,XEM,decentralized,token,smart contract,advertiser,publisher,impression,click,attention,analytics,CPI,CPC,cost-per-impression,cost-per-click">

    <meta name="author" content="Qchain">

    <meta name="google-site-verification" content="-UVvF9U_NtDGo3ebSiz-92EOHvo-K0xf5aUDb90eRuQ" />

    <title>Qchain – {{ page.title }}</title>

    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="apple-touch-icon.png">

    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

    <style>
        @font-face{font-family:'Nunito Sans';src:local('Nunito Sans Light'),local(NunitoSans-Light),url(fonts/nunito-sans-v2-300-basiclatin.woff2) format("woff2"),url(fonts/nunito-sans-v2-300-basiclatin.woff) format("woff"),url(fonts/nunito-sans-v2-300-basiclatin.ttf) format("truetype");font-weight:300;font-style:normal}
    </style>

    <link rel="stylesheet" href="css/qchain.css">
</head>
